--markup rdoc
--exclude .git
--exclude .gitignore
--exclude xmpp_sender.yml
--exclude xmpp_sender.iss
--exclude README.md
--exclude setup.exe
--hide-void-return
--protected
--private
--main readme.rdoc
.
-
license